@charset "ISO-8859-1";
section h1
{
	text-align:center;
	color:white;
}
* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
#table
{
	width: 700px;
	margin: 30px auto;
	position: relative;
	padding: 2%;
}
h2
{
	text-align:center;
	color:white;
}
#tableHeadder
{
	color:white;
	font-weight:bold;
	text-align:center;
}
.field,.value
{
	text-align:center;
	color:white;
}
